{% extends 'main.html' %}
{% comment %} for individual pages on the website we have to use templates/base (whatever the main folder is called before templates) {% endcomment %}

{% block content %}

<h1>Home Template</h1>

<style>
    .home-container{
        {% comment %} displays home-container in a grid style {% endcomment %}
        {% comment %} the first section takes 1/4 of the screen while the other section takes the other 3/4 of the screen {% endcomment %}
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }

</style>

<div class="home-container">

    {% comment %} Side bar {% endcomment %}
    <div>
        {% comment %} information that is passed on to home.html gets passed on to base/topics_component.html in order to work properly  {% endcomment %}
        {% include 'base/topics_component.html' %}
    </div>

    <div>
        {% if room_count > 1%}
            <h5>{{room_count}} rooms available</h5>
            <a href="{% url 'create-room'%}">Create Room</a>
        {% else %}
            <h5>{{room_count}} room available</h5>
            <a href="{% url 'create-room'%}">Create Room</a>
        {% endif %}        

        {% include 'base/feed_component.html' %}
    </div>

    <div>
        {% comment %} imports activity_component.html {% endcomment %}
        {% include 'base/activity_component.html'%}
    </div>



</div>


{% endblock content %}
